<div class="my-4">
  <div id="<%= dom_id listing %>" class="flex justify-between items-center border rounded px-2">
    <p class="my-5">
      <strong class="block font-medium mb-1">Title:</strong>
      <%= listing.title %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Address:</strong>
      <%= listing.address %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Available from:</strong>
      <%= listing.available_from %>
    </p>

    <div>
      <%= link_to "Show this listing", listing, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this listing', edit_listing_path(listing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
